<div class="android-be-together-section mdl-typography--text-center">
  <div class="logo-font android-slogan">be kind. and work hard.</div>
  <div class="logo-font android-sub-slogan">welcome to the team... be yourself. do your best. and learn together.</div>

  <div class="logo-font android-create-character">
   <!--  <a href=""><img src="images/andy.png"> create your android character</a> -->
  </div>

  <a href="#screens">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">expand_more</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
  </a>
</div>
