<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <h3 class="android-logo-image">
      Content
    </h3>
  </span>
  <nav class="mdl-navigation">

    <a href="/product-development-process"><span class="mdl-navigation__link">Product Development Process</span></a>
    <a class="mdl-navigation__link" href="/product-development-process/scrum">Scrum</a>
    <a class="mdl-navigation__link" href="/product-development-process/agile">Agile</a>
    <a class="mdl-navigation__link" href="/product-development-process/test-driven-development">Test driven development</a>
    <a class="mdl-navigation__link" href="">Refactoring</a>
    <a class="mdl-navigation__link" href="">Software inspections/Code reviews</a>
    <a class="mdl-navigation__link" href="/product-development-process/pair-programming">Pair programming</a>
    <a class="mdl-navigation__link" href="">Devops Policies</a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link">Software architecture</span>
    <a class="mdl-navigation__link" href="/architectures">Architectures</a>
    <a class="mdl-navigation__link" href="">Microservices</a>
    <a class="mdl-navigation__link" href="">Serverless</a>
    <a class="mdl-navigation__link" href="">Monolithic</a>

    <div class="android-drawer-separator"></div>
    <a href="/algorithm"><span class="mdl-navigation__link">Algorithm</span></a>
    <a class="mdl-navigation__link" href="/algorithm/sorting">Sorting Algorithm</a>
    <a class="mdl-navigation__link" href="/algorithm/searching">Searching Algorithm</a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link">Design language</span>
    <a class="mdl-navigation__link" href="">UI Design</a>

    <div class="android-drawer-separator"></div>
    <a href="/source-code-management"><span class="mdl-navigation__link">Source Code Management</span></a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link">Build tools</span>
    <a class="mdl-navigation__link" href="">Webpack</a>

    <div class="android-drawer-separator"></div>
    <a href="/database"><span class="mdl-navigation__link">Database</span></a>
    <a class="mdl-navigation__link" href="">Mongodb</a>
    <a class="mdl-navigation__link" href="">Redis</a>
    <a class="mdl-navigation__link" href="">Elasticsearch</a>
    <a class="mdl-navigation__link" href="">Postgresql</a>
    <a class="mdl-navigation__link" href="">InfluxDB</a>
    <a class="mdl-navigation__link" href="">Cassandra</a>

    <div class="android-drawer-separator"></div>
    <a href="/languages"><span class="mdl-navigation__link" href="">Languages</span></a>
    <a class="mdl-navigation__link" href="">JS-Nodejs</a>
    <a class="mdl-navigation__link" href="">Python</a>
    <a class="mdl-navigation__link" href="">Golang</a>
    <a class="mdl-navigation__link" href="">Bash</a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link">Programming paradigm</span>
    <a class="mdl-navigation__link" href="">Functional decomposition</a>
    <a class="mdl-navigation__link" href="">Object-oriented programming</a>

    <div class="android-drawer-separator"></div>
    <a href="/testing"><span class="mdl-navigation__link">Testing</span></a>
    <a class="mdl-navigation__link" href="">Environments</a>

    <div class="android-drawer-separator"></div>
    <a href=""><span class="mdl-navigation__link">Web servers</span></a>
    <a class="mdl-navigation__link" href="">Nginx</a>

    <div class="android-drawer-separator"></div>
    <a href="/web-application"><span class="mdl-navigation__link">Web Application</span></a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link">Others</span>
    <a class="mdl-navigation__link" href="">API</a>
    <a class="mdl-navigation__link" href="">Authentication</a>
    <a class="mdl-navigation__link" href="">Cluster Managers</a>
    <a class="mdl-navigation__link" href="">Container</a>
    <a class="mdl-navigation__link" href="">Middlewares</a>
    <a class="mdl-navigation__link" href="">Monitoring system</a>
    <a class="mdl-navigation__link" href="">Quick start</a>
    <a class="mdl-navigation__link" href="">Tools</a>
    <a class="mdl-navigation__link" href="">Versioning</a>

    <div class="android-drawer-separator"></div>
    <a href="/resources"><span class="mdl-navigation__link">Resources</span></a>
    <a class="mdl-navigation__link" href="/resources/ebooks">Ebooks</a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Versions: 1.0.0-alpha.0</span>
  </nav>
</div>
