.content {
  padding: 0px 10px;
}

.content ul,ol {
  margin-top: 10px;
  color: #254356;
}

blockquote {
  border-left-color: #1488C6;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid;
}

blockquote:before {
  position: relative;
  left: none;
  content: none;
}

blockquote:after {
  content: none;
  margin-left: 0px;
}

img {
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 5px;
}