.hero-text {
  position: relative;
  min-height: 400px;
  width: auto;
  background-color: #f3f3f3;
  background: url(/images/slide01.jpg) center 30% no-repeat;
  background-size: cover;
}

.slogan {
  font-size: 40px;
  padding-top: 80px;
}

.sub-slogan {
  font-size: 18px;
  padding: 20px 0px;
}