.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-body {
  flex-direction: row;
  flex: 1;
  background-color: #fff;
}

.col-content {
  flex: 1;
  transition: all 0.5s ease;
  // background-color: #fff;
}

.main_footer {
  background: #fff;
  position: relative;
  border-top: 1px solid #E0E4E7;
}

.bottom-footer {
  text-align: center;
  clear: both;
  padding: 15px 0;
}