/*
*
* Primary navigation - top header **********************************************************
*
*/

.nav-primary {
  overflow: visible;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.nav-container .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
  font-weight: 700;
  font-size: 14px;
}

.nav-search {
  margin-left: 16px;
  margin-right: 16px;
}