<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="pagestyle" rel="stylesheet" href="/css/style.css">
  <style>
  </style>
</head>
<body class="colums">
<div class="mdl-layout__container">

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded">
  <header class="nav-primary mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="nav-title mdl-layout-title">Development Standards</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="nav-container mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="">Source Code Management</a>
      </nav>
      <div class="nav-search mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">Languages</li>
        <li class="mdl-menu__item">Database</li>
        <li class="mdl-menu__item">Scrum</li>
      </ul>
    </div>
  </header>
  {% include navigation-sidebar.html %}
  <main class="mdl-layout__content">
    <div class="page-content">
      {% if page.landing == true %}{% include global-header.html %}{% endif %}
      <div class="col-body mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phonedp">
          </div>
          <div class="col-content content mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phonedp">
            {{ content }}
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phonedp">
          </div>
      </div>
      <footer class="main_footer">
        <div class="container">
          <div class="bottom-footer">
            Copy right @ 2017 Particle4dev. All rights reversed.
          </div>
        </div>
      </footer>
    </div>
  </main>
</div>

</div>
</body>

</html>
